<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CleaningRobot -->
      <package
            uri="http://www.not.yet"
            class="cleaningrobots.CleaningrobotsPackage"
            genModel="model/CleaningRobot.genmodel"/>
   </extension>

</plugin>
